<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h1>Component: Question</h1>
    <h2>{{question}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <app-question-difficulty></app-question-difficulty>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <app-question-topics></app-question-topics>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <app-question-references></app-question-references>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <app-question-choices></app-question-choices>
  </div>
</div>
